body{
    margin: 0;
    padding: 0;
    background-image: url('Home-Images/Background\ Image.avif');
    line-height: 1.5;
    color: white;
    font-size: 20px;
}

#main-image{
    width: 100%;
    position: relative;
}
#navbar{
  position: absolute;
  top: 0;
}

#navbar li{
    padding-left: 100px;
    font-size: 28px;
    padding: 0;
    margin-top: 50px;
}
#navbar ul{
    list-style-type: none;
    padding: 0;
}

#main-logo{
    width: 150px;
}
#navbar a{
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    
}
#navbar a:hover{
    color: black;
}
header h1{
    font-size: 150px;
    position: absolute;
    top: 25%;
    left: 120%;
    margin: 0;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

#main-container{
    display: flex;
    margin-top: 100px;
    margin: 20px;
}
#home-container{
    border: 1px solid;
    padding: 20px;
    margin-right: 10px;
    width: 50%;
}
#intro-container{
    border: 1px solid;
    padding: 20px;
    margin-right: 10px;
    width: 50%;
}
.first-image{
    width: 100%;
}
.second-image{
    width: 70%;
}
#second-image{
    width: 600px;
    height: 600px;
}

#dept-container{
    border: 1px solid;
    padding: 20px;
    margin-right: 10px;
    width: 50%;
}
#leopard-container{
    border: 1px solid;
    padding: 20px;
    margin-right: 10px;
    width: 50%;
}
#second-image-leopard{
    width: 500px;
    height: 500px;
}


#last-container{
    border: 1px solid;
    margin-right: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#first-image-animals{
    width: 600px;
    height: 500px;
}
#sub-container{
    display: flexbox;
}
#wilpattu-container{
    border: 1px solid;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 20px;
}
#wilpattu-container img{
     width: 500px;
}
#yala-container{
    border: 1px solid;
    padding: 20px;
}
#yala-container img{
    width: 500px;
}
#next-image-animals{
    width: 400px;
}